:root {
    --primary-color: #448086;
}

* {
    margin: 0;
}

@font-face {
    font-family: "OpenSans";
    src: url("/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Anton";
    src: url("/fonts/Anton-Regular.ttf");
}

.burger {
    display: none;
}


/*///////////////////////////////////////////////
//////////////////// HEADER /////////////////////
///////////////////////////////////////////////*/

a {
    text-decoration: none;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #448086;
    margin-bottom: 100px;
}

.top-nav-logo {
    display: flex;
    justify-content: center;
    font-size: 25px;
    width: 100px;
}

.top-nav-container {
    display: flex;
}

.top-nav-menu ul {
    display: flex;
    justify-content: flex-end;
    width: 500px;
}

.top-nav-menu li {
    padding: 15px 15px 5px 15px;
    font-family: "OpenSans";
    font-size: 15px;
    list-style: none;
}

.top-nav-menu li:hover {
    border-bottom: 1px solid #ffffff;
}

.top-nav-btn {
    display: flex;
    justify-content: center;
    width: 200px;
}

.top-nav-btn button {
    background-color: #448086;
    border: solid 2px white;
    font-family: "OpenSans";
    padding: 15px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.top-nav-btn button:hover {
    background-color: white;
    color: #448086;
}


/*///////////////////////////////////////////////
/////////////////// STEP BAR ////////////////////
///////////////////////////////////////////////*/

.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}

.progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}

.progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
}


/*///////////////////////////////////////////////
///////////////////// FORM //////////////////////
///////////////////////////////////////////////*/

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    width: 45%;
    height: 504px;
    padding: 1.5rem;
}

.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.step-question {
    display: flex;
    justify-content: center;
    font-family: "Anton";
    font-size: 27px;
    color: #7CBA9F;
    margin-bottom: 100px;
}

.step-btns {
    display: flex;
    justify-content: center;
}

input {
    display: block;
    padding: 0.75rem;
    border: none;
}

.width-50 {
    width: 50%;
}

.ml-auto {
    margin-left: auto;
}

.text-center {
    text-align: center;
}

.form-step-active {
    display: block;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    font-family: "OpenSans";
    font-size: 16px;
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
    width: 200px;
    margin: 25px;
    flex-shrink: 0;
}

.btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}


/*///////////////////////////////////////////////
///////////////////// FOOTER ////////////////////
///////////////////////////////////////////////*/

footer {
    margin-top: 120px;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    height: 250px;
    width: 100%;
    background-color: #A7D6A7;
}

.mini-form {
    display: flex;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.newsletter {
    font-weight: 800;
}

.left p {
    font-family: "OpenSans";
    margin: 15px 65px;
    width: 400px;
    color: #448086;
}

.left input {
    margin: 15px 65px;
    color: #448086;
}

.left input::placeholder {
    color: #448086;
}

.left button {
    height: 41px;
    border: none;
    border-radius: 5px;
    font-family: "OpenSans";
    font-weight: 300;
    width: 150px;
    color: white;
    background-color: #448086;
    cursor: pointer;
}

.left button:hover {
    background-color: white;
    color: #448086;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.right li {
    list-style: none;
    margin: 15px 65px;
}

.right li:hover {
    border-bottom: 1px solid #448086;
}

.right li a {
    color: #448086;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #448086;
    padding: 0 65px;
}

.footer-bottom p {
    color: white;
}

.footer-bottom-icons i {
    margin: 0 15px;
}

.footer-bottom-icons i:hover {
    transform: scale(1.2);
}


/*///////////////////////////////////////////////
////////////////// RESPONSIVE ///////////////////
///////////////////////////////////////////////*/

@media (max-width:768px) {
    .btn {
        width: 150px;
    }
    .step-question {
        font-size: 25px;
    }
    .top-nav-btn {
        width: 170px;
    }
}

@media (max-width:425px) {
    .burger {
        display: block;
        color: rgb(255, 255, 255);
    }
    .top-nav-menu {
        display: none;
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95px;
        margin: 10px;
    }
    .footer-container {
        flex-direction: column;
    }
    .right {
        display: none;
    }
    .left p {
        font-family: "OpenSans";
        margin: 15px 25px;
        width: 400px;
        color: #448086;
    }
    .left input {
        margin: 15px 25px;
        color: #448086;
    }
    .form {
        width: 80%;
    }
    .hamenu {
        width: 115px;
    }
}


/*/////////////////////////////////////////////////////////////////////
///////////////////////// RESPONSIVE SIDE NAV /////////////////////////
/////////////////////////////////////////////////////////////////////*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    background: linear-gradient(360deg, rgb(255 255 255 / 0%), rgb(0 0 0));
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}